/**
 *
  {{#urlParamsComments}}
 * {{.}}
  {{/urlParamsComments}}
  {{#bodyComments}}
 * {{.}}
  {{/bodyComments}}
 */
export functionName (params{{#hasBody}}, data{{/hasBody}}) {
  return request({
    method: "{{method}}",
    url: "{{{url}}}",
    params{{#hasBody}},
    data
    {{/hasBody}}
  })
}


