/**
  {{#urlParamsComments}}
 * {{.}}
  {{/urlParamsComments}}
 *
  {{#bodyComments}}
 * {{.}}
  {{/bodyComments}}
 */
export functionName (params{{#hasBody}}, data{{/hasBody}}) {
  return request({
    method: "{{method}}",
    url: "{{{url}}}",
    {{#hasBody}}
    data,
    {{/hasBody}}
    params
  })
}


